.drop-down
  margin 20px
  width 200px

  .drop-down-input
    height 30px
    line-height 30px
    width 100%
    border 1px solid #e7e7e7
    &.active
      border-color blue
  .drop-down-select
    width 100%
    border 1px solid #e7e7e7
    border-top none
    &.isNone
      border none
    .select-item
      height 30px
      line-height 30px