//
   Created by Administrator on 2017/3/2 0002.
doctype html
html(ng-app='app',ng-cloak,ng-strict-di)
   head
      title 自己的世界
      meta(charset='utf-8')
      meta(content='IE=edge',http-equiv='X-UA-Compatible')
      meta(content='webkit',name='renderer')
      meta(content='width=device-width,initial-scale=1.0',name='viewport')
      meta(content='',name='keywords')
      meta(content='',name='description')
      //base(href='/')
   body(ui-view,class='a-fadeinR')
      div()

